/* Large Monitors */
@media only screen
and (min-width : 1824px) {
	.container {

	}

}

/*Medium Devices, Desktops*/
@media only screen and (max-width: 992px) {

}

/*Small Devices, Tablets*/
@media only screen and (max-width: 768px) {
	.logo {

	}

}

/*Extre Small Devices, Phones*/
@media only screen and (max-width: 480px) {

	header {
		position: absolute;
		background: #333;
	}

	.wrapper {
		top: 667px;
	}

	.logo {
		float: none;
		font-size: 30px;
		text-align: center;
		margin: 20px 0 -20px 0;
	}

	/*hamburger menu*/
	nav {
		float: none;
		text-align: center;
	}

	.toggleMenu {
		display: inline-block;
	}

	/*hamburger-menu button when pressed*/
	input.toggleMenu:checked + label.toggleMenu {
	color: #777;
	}

	input.toggleMenu:checked ~ ul {
		display: block;
	}

	.menu li {
		float: none;
		overflow: hidde;
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.menu ul {
		display: none;
	}

	.title-header {
		font-size: 43px;
		margin-top: 90px;
	}

	.button-tell {
		margin-top: 100px;
	}

	#button-down i {
		padding-top: 65px;
	}

	.title {
		padding-top: 15px;
	}

	/*Services section*/
	.services_item {
		float: none;
		width: 70%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.services_item:last-child {
		float: none;
	}

	.services_item:nth-child(2) {
		margin-left: auto;
	}

	/*Instruments section*/
	.my_instruments {
		margin-bottom: 160px;
	}

	.my_instruments li {
		margin-right: 20px;
	}

	#less_icon {
		height: 40px;
		margin: 10px 0;
	}

	#github_icon {
		height: 90px;
		margin-top: 10px;
	}

	#gulp {
		height: 80px;
		margin-left: -20px;
	}

	/*Works section*/
	.portfolio {
		padding-bottom: 0;
	}

	.portfolio li {
		float: none;
		max-width: 700px;
		width: 80%;
		left: 10%;
		margin-bottom: 10px;
	}

	.portfolio li:last-child {
		float: none;
		margin-bottom:
	}

	.portfolio li:nth-child(2) {
		margin-left: 0;
	}

	/*Footer*/
	footer {
		top: 750px;
	}

	#contacts-title {
		margin-bottom: 30px;
	}

	.map {
		float: none;
		height: auto;
		width: 100%;
		overflow: hidden;
	}

	.coordinates {
		margin-bottom: 30px;
	}

}

/*Iphone 5*/
@media only screen and (max-width: 320px) {

	/*Header*/
	.logo {
		float: none;
		font-size: 30px;
		text-align: center;
		margin: 20px 0 -40px 0;
	}

	.title-header {
		font-size: 35px;
		margin-top: 50px;
	}

	.button-tell {
		width: 200px;
		font-size: 22px;
		margin-top: 70px;
	}

	#button-down i {
		padding-top: 60px;
	}

	.wrapper {
		top: 590px;
	}

	/*Instruments section*/


	.my_instruments ul {
		padding: 0;
		justify-content: space-around;
	}

	.my_instruments li {
		margin-right: 10px;
	}

	/*Footer*/
	footer {
		top: 680px;
	}
}