body {
	background: #fff;
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url(img/first-bg.jpg) no-repeat center top / cover;
	height: 900px;
	padding-bottom: 130px;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

.wrapper {
	position: relative;
	top: 900px;
	background: white;
}

.container {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
}

.logo {
	color: white;
	font-size: 40px;
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 62px;
}

.menu [type="checkbox"], .toggleMenu {
	display: none;
}

.menu label.toggleMenu {
	color: #fff;
	font-size: 32px;
	cursor: pointer;
}

.menu ul {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
}

.menu a:hover {
	color: #777;
	transition: all 0.3s ease-in-out;
}

a {
	text-decoration: none;
}

.title-header {
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 160px;
}

.button-tell {
	background: #fed136;
	color: #333;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-top: 130px;
}

.button-tell:hover {
	background: yellow;
	transition: all 0.4s ease-in-out;
}

.title {
	padding-top: 100px;
}

.title h2 {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	text-align: center;
	font-size: 23px;
	margin-top: 5px;
	color: #777;
}

#button-down {
	font-size: 60px;
}

#button-down i {
	color: #777;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 95px;
}

#button-down i:hover {
	font-size: 80px;
	transition: all 0.4s ease-in-out;
}

.services {
	margin-top: 50px;
}

.services_item {
	width: 29.0322580645%;
	max-width: 270px;
	float: left;
	text-align: center;
}

.services_item img {
	height: 90px;
}

.services_item h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.services_item p {
	color: #777;
	font-size: 18px;
	line-height: 1.55em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 62px;
}

.services {
	margin-bottom: 50px;
}

.my_instruments {
	height: 150px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}

.my_instruments li {
	list-style: none;
	float: left;
	color: #777;
	margin-right: 30px;
	font-size: 70px;70
}

.my_instruments img {
	height: 90px;
}

.my_instruments img:hover {
	transform: scale(1.2);
}

#html_icon {
	height: 100px;
	margin: -5px 0;
}

#less_icon {
	height: 70px;
}

#github_icon {
	height: 100px;
}

#photoshop_icon {
	height: 78px;
}

#works {
	background: #f7f7f7;
}

.portfolio {
	padding-bottom: 60px;
}

.portfolio li {
	float: left;
	text-align: center;
	display: inline-block;
	max-width: 300px;
	width: 32.2580645161%;
	position: relative;
	overflow: hidden;
}

.portfolio li:last-child {
	float: right;
}

.portfolio li:nth-child(2) {
	margin-left: 15px;
}

.portfolio ul,
.portfolio li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.portfolio img {
	max-width: 100%;
	display: block;
}

.description {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-size: 30px;
	padding-top: 130px;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.portfolio li:hover .description {
	opacity: 1;
	top: 0;
}

footer {
	position: relative;
	top: 870px;
	background: #fff;
}

.map {
	float: right;
	height: 300px;
}

.coordinates {
	float: left;
	top: 0;
}

#contacts-title {
	margin-bottom: 60px;
}

.social-links {
	color: #777;
	margin: 0;
}

.social-links ul {
	float: left;
}

.social-links li {
	list-style: none;
	display: block;
	margin: 5px 0;
	padding: 0;
}

.social-links a {
	color: #777;
}

.social-links a:hover {
	color: #000;
	transition: all 0.3s ease-in-out;
}

#button-top {
	font-size: 60px;
	color: #000;
	padding-top: 20px;
}

#button-top i {
	color: #777;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

#button-top i:hover {
	font-size: 80px;
	transition: all 0.3s ease-in-out;
}









